html {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
a {
  color: orange;
}
a:hover {
  color: orangered;
}
/* para que la imagen se haga response */
img {
  max-width: 100%;
}
